:root{
    --tilecolor: rgb(20, 20, 20);
}

body{
    
    animation: body-bg-color-pan ease 25s infinite;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    margin: 0px;
}
@keyframes body-bg-color-pan{
    0%{background-color: rgb(30, 40, 30);}
    25%{background-color: rgb(33, 40, 30);}
    50%{background-color: rgb(30, 40, 30);}
    75%{background-color: rgb(30, 40, 33);}
    100%{background-color: rgb(30, 40, 30);}

}
@keyframes board-bg-pan{
    from{
        background-position: 0% center;
    }
    to{
        background-position: -200% center;
    }
}

.tile-bg{
    animation: board-bg-pan 10s linear infinite;
    background: linear-gradient(
        to right,
        rgb(122, 225, 177),
        rgb(240, 168, 168),
        rgb(122, 225, 177)
    );
    background-size: 200%;
    aspect-ratio: 1/1;
    height: 70%;
    width: auto;
    position: absolute;
    box-shadow: 0px 0px 15px -5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

#tiles{
    aspect-ratio: 1/1;
    height: 100%;
    width: auto;
    position: relative;
    transform: scale(0.985);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.block {
    position: relative;
    padding: 2px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.game-tile{
    text-align: center;
    font-family: 'Old Standard TT', serif;
    width: 5;
    height: 5;
    background-color: var(--tilecolor);
    overflow:hidden;

    
}
.cell-label{
    position: absolute;
    font-size: 5cqw;
    left: 50%;
    transform: translate(-50%, 0%);
    color: rgb(220, 220, 220)
}


#choices-container{

    position: absolute;
    aspect-ratio: 9/1;
    height: 7.77vh;
    width: auto;
    top: 85%;
    left: 50%;
    transform: translate(-50%, 0%);


    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
}

.choice-tile{
    opacity: 0;
    text-align: center;
    font-family: 'Old Standard TT', serif;
    aspect-ratio: 1/1;
    transform: scale(0.95);
    box-shadow: 0 0 5px -2px;
    border-radius: 50%;
    background-color: var(--tilecolor);
    overflow:hidden;
    position: relative;
}

.choice-label{
    font-size: 5cqw;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    color: rgb(220, 220, 220)
}


